body {
    background-color: rgb(97, 97, 97);
}

#title {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    font-size: 5rem;

}

h3 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

tr, th {
    border: .25rem solid black;
    width: 10em;
    height: 10em;
}
table {
    display: flex;
    justify-content: center;
}

#restart {
    display: flex;
    justify-content: center;
    margin-top:  2em;
}

button {
    font-size: 2rem;
    border-radius: 5px;
}